@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  scroll-behavior: smooth;
}

.nav-link {
  @apply font-semibold text-lg opacity-50;
}

.active-link {
  @apply opacity-100 dark:text-blue-400;
}

section {
  @apply w-full py-6;
}

.floating-icon {
  @apply absolute w-[5rem];
  animation: bounce 10s linear infinite;
}

.skill-icon {
  @apply w-16;
}

.dotted-bg {
  @apply absolute inset-0 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_2px,transparent_1px)] [background-size:30px_30px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_60%,transparent_100%)] dark:bg-transparent dark:bg-[radial-gradient(#555_2px,transparent_1px)];
}

.timeline-container {
  @apply flex flex-wrap mt-8 justify-start items-center content-start;
}

.timeline-item {
  @apply w-full sm:w-[30%] grow-1 m-4 bg-zinc-200 h-[30rem];
}

.timeline-item:nth-child(2) {
  @apply h-[35rem];
}

.timeline-item:nth-child(3) {
  @apply h-[25rem];
}
.timeline-item:nth-child(5) {
  @apply h-[25rem];
}

.project-card {
  @apply w-full;
}

.project-card h2 {
  @apply font-semibold text-4xl;
}

.project-card h3 {
  @apply text-xl font-thin mt-2 mb-4;
}

.project-card .image {
  @apply w-full h-[25rem] object-cover object-center overflow-hidden;
}

.project-card .image:hover img {
  @apply scale-105 cursor-pointer;
}

.project-card img {
  @apply w-full h-full object-cover object-center duration-300 ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
